<h1 class="text-center mt-5">Orders</h1>
<div class="list-group px-3">
  <% @booking_transactions.each do |booking_transaction| %>
    <a href=<%= home_rooms_path(booking_transaction.room_id) %> class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= booking_transaction.room.name %></h5>
        <span class="status_tag <%= booking_transaction.status&.downcase %>"><%= booking_transaction.status.titleize %></span>
      </div>
      <span class="status_tag <%= booking_transaction.payment_method&.downcase %>"><%= booking_transaction.payment_method&.titleize %></span>
      <p class="mb-1"><%= booking_transaction.room.hotel.name %></p>
      <h3 class="mb-1 text-danger"><%= format_currency booking_transaction.price %></h3>
      <small class="text-muted">Schedule: <%= format_date booking_transaction.schedule %> <%= format_time booking_transaction.schedule %> </small>
    </a>
  <% end %>
</div>
