<div class="report-reciept">
  <h3>Invoice</h3>
  <table class="table-reset">
    <tr>
      <td style="width:50px">Hotel:</td>
      <td class="fill-up"><%= @booking_transaction.room.hotel.name %></td>
      <td style="width: 100px">Invoice Number</td>
      <td class="fill-up"><%= @booking_transaction.transaction_number %></td>
    </tr>
    <tr>
      <td style="width:50px">Phone:</td>
      <td class="fill-up"><%= @booking_transaction.room.hotel.phone %></td>
      <td style="width: 100px">Invoice Date</td>
      <td class="fill-up"><%= format_date @booking_transaction.schedule %></td>
    </tr>
    <tr>
      <td style="width:50px">Email:</td>
      <td colspan="5" class="fill-up"><%= @booking_transaction.room.hotel.email %></td>
    </tr>
    <tr>
      <td colspan="5" class="py-2"></td>
    </tr>
    <tr>
      <td colspan="5" class="bg-secondary font-weight-bold text-white text-center">SOLD TO</td>
    </tr>
    <tr>
      <td colspan="5" class="py-2"></td>
    </tr>
    <tr>
      <td style="width:50px">Name:</td>
      <td colspan="5" class="fill-up"><%= @booking_transaction.user.name %></td>
    </tr>
    <tr>
      <td style="width:50px">Address:</td>
      <td colspan="5" class="fill-up"><%= @booking_transaction.user.address %></td>
    </tr>
    <tr>
      <td style="width:50px">Phone:</td>
      <td colspan="5" class="fill-up"><%= @booking_transaction.user.contact_number %></td>
    </tr>
    <tr>
      <td style="width:50px">Email:</td>
      <td colspan="5" class="fill-up"><%= @booking_transaction.user.email %></td>
    </tr>
    <tr>
      <td colspan="5" class="py-2"></td>
    </tr>
  </table>
  <table class="table-receipt">
    <tr>
      <td class="bg-secondary font-weight-bold text-white text-center" style="width: 100px">Date</td>
      <td class="bg-secondary font-weight-bold text-white text-center">Room</td>
      <td class="bg-secondary font-weight-bold text-white text-center" style="width: 100px">Price</td>
    </tr>
    <tr>
      <td class="text-center border pb-5"><%= format_date @booking_transaction.schedule %></td>
      <td class=" border pb-5"><%= @booking_transaction.room.name %></td>
      <td class="text-center border pb-5"><%= format_currency @booking_transaction.room.price %></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td class="text-center border pb-5"><b>TOTAL: <%= format_currency @booking_transaction.room.price %></b></td>
    </tr>
  </table>
</div>
