<div class="bg-white py-3 px-5 shadow mt-5 rounded">
  <br/>
  <p>
    I <%= current_user.name %>, member of LDTC would like to withdraw my membership. This is due to the following reasons: <%= @membership_withdrawal.content %>.
  </p>
  <p>
    <strong>Admin note:</strong>
    <%= @membership_withdrawal.admin_note %>
  </p>
  <p>
    <strong>Status:</strong>
    <span class="status_tag <%= @membership_withdrawal.status.to_sym %>"><%= @membership_withdrawal.status %></span>
  </p>
</div>
